* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
}

.maplibregl-popup-tip {
    transform: skewY(10deg);
}

.maplibregl-popup-content {
    padding: 0 5px;
    margin: -1px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
    transform: skewY(10deg);
    pointer-events: none !important;
}

.maplibregl-ctrl-bottom-right {
    display: none;
}