:root {
    --color-primary: hsl(210, 80%, 45%);
    --color-secondary: hsl(210, 60%, 60%);
    --color-bg1: hsl(210, 30%, 30%);
    --color-bg2: hsl(120, 30%, 70%);
    --color-bg3: hsl(340, 35%, 72%);
    --color-text1: hsl(210, 29%, 28%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
        font-family:
        Inter,
        system-ui,
        sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.map-wrapper {
    flex: 1;
    min-height: 50vh;
    min-width: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.maplibregl-popup {
    min-width: 0 !important;
    max-width: 300px !important;
}

.maplibregl-popup-content {
    background: transparent;
    padding: 0;
    margin: 2rem;
    box-shadow: none;
    pointer-events: none !important;
}

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-popup-close-button {
    display: none !important;
}

.maplibregl-popup-content p {
    margin: 0;
    display: inline;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: white;
    background: hsla(0, 0%, 0%, 1);
    padding:
        0.2rem
        0.4rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#infobox {
    position: relative;
    flex: 1;
    min-height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

#infobox::-webkit-scrollbar {
    display: none;              /* Chrome / Safari / Edge */
}

.infobox-content {
    height: 100%;
    width: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;
}

#infobox .infobox-content section {
    min-height: 100%;
    scroll-snap-align: start;
    display: block;
}

.infobox-image {
position: relative;
min-height: 100%;
flex: 0 0 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    scroll-snap-align: start;
}

.infobox-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.maplibregl-ctrl-bottom-right {
    display: none;
}

/* wide screens */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        width: 100vw;
    }

    #infobox {
        width: 50%;
        height: 100%;
    }

    .map-wrapper {
        width: 50%;
    }
}